@font-face {
  font-family: 'icomoon';
  src: url('./font/custom/icomoon.eot');
  src:
    url('./font/custom/icomoon.eot') format('embedded-opentype'),
    url('./font/custom/icomoon.ttf') format('truetype'),
    url('./font/custom/icomoon.woff') format('woff'),
    url('./font/custom/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zodiac-dog .path1:before {
  content: '\e91b';
  color: rgb(178, 187, 197);
}
.icon-zodiac-dog .path2:before {
  content: '\e91c';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-dragon .path1:before {
  content: '\e91d';
  color: rgb(178, 187, 197);
}
.icon-zodiac-dragon .path2:before {
  content: '\e91e';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-goat .path1:before {
  content: '\e91f';
  color: rgb(178, 187, 197);
}
.icon-zodiac-goat .path2:before {
  content: '\e920';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-horse .path1:before {
  content: '\e921';
  color: rgb(178, 187, 197);
}
.icon-zodiac-horse .path2:before {
  content: '\e922';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-horse .path3:before {
  content: '\e923';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-horse .path4:before {
  content: '\e924';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-monkey .path1:before {
  content: '\e925';
  color: rgb(178, 187, 197);
}
.icon-zodiac-monkey .path2:before {
  content: '\e926';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-monkey .path3:before {
  content: '\e927';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-ox .path1:before {
  content: '\e928';
  color: rgb(178, 187, 197);
}
.icon-zodiac-ox .path2:before {
  content: '\e929';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-ox .path3:before {
  content: '\e92c';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-ox .path4:before {
  content: '\e92d';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-pig .path1:before {
  content: '\e92e';
  color: rgb(178, 187, 197);
}
.icon-zodiac-pig .path2:before {
  content: '\e92f';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-rabbit .path1:before {
  content: '\e930';
  color: rgb(178, 187, 197);
}
.icon-zodiac-rabbit .path2:before {
  content: '\e931';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-rat .path1:before {
  content: '\e932';
  color: rgb(36, 37, 41);
}
.icon-zodiac-rat .path2:before {
  content: '\e933';
  margin-left: -1em;
  color: rgb(178, 187, 197);
}
.icon-zodiac-rat .path3:before {
  content: '\e934';
  margin-left: -1em;
  color: rgb(178, 187, 197);
}
.icon-zodiac-rooster .path1:before {
  content: '\e935';
  color: rgb(178, 187, 197);
}
.icon-zodiac-rooster .path2:before {
  content: '\e936';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-rooster .path3:before {
  content: '\e937';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-snake .path1:before {
  content: '\e938';
  color: rgb(178, 187, 197);
}
.icon-zodiac-snake .path2:before {
  content: '\e939';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-zodiac-tiger .path1:before {
  content: '\e93a';
  color: rgb(178, 187, 197);
}
.icon-zodiac-tiger .path2:before {
  content: '\e93b';
  margin-left: -1em;
  color: rgb(36, 37, 41);
}
.icon-sunrise:before {
  content: '\e900';
}
.icon-sun:before {
  content: '\e901';
}
.icon-moon:before {
  content: '\e902';
}
.icon-sun1:before {
  content: '\e903';
}
.icon-windy:before {
  content: '\e904';
}
.icon-wind:before {
  content: '\e905';
}
.icon-snowflake:before {
  content: '\e906';
}
.icon-cloudy:before {
  content: '\e907';
}
.icon-cloud:before {
  content: '\e908';
}
.icon-weather:before {
  content: '\e909';
}
.icon-weather1:before {
  content: '\e90a';
}
.icon-weather2:before {
  content: '\e90b';
}
.icon-lines:before {
  content: '\e90c';
}
.icon-cloud1:before {
  content: '\e90d';
}
.icon-lightning:before {
  content: '\e90e';
}
.icon-lightning1:before {
  content: '\e90f';
}
.icon-rainy:before {
  content: '\e910';
}
.icon-rainy1:before {
  content: '\e911';
}
.icon-windy1:before {
  content: '\e912';
}
.icon-windy2:before {
  content: '\e913';
}
.icon-snowy:before {
  content: '\e914';
}
.icon-snowy1:before {
  content: '\e915';
}
.icon-snowy2:before {
  content: '\e916';
}
.icon-weather3:before {
  content: '\e917';
}
.icon-cloudy1:before {
  content: '\e918';
}
.icon-cloud2:before {
  content: '\e919';
}
.icon-lightning2:before {
  content: '\e91a';
}
.icon-thermometer:before {
  content: '\e92a';
}
.icon-compass:before {
  content: '\e92b';
}
.icon-sad:before {
  content: '\e9e5';
}
.icon-angry:before {
  content: '\e9ed';
}
.icon-evil:before {
  content: '\e9ef';
}
.icon-frustrated:before {
  content: '\e9ff';
}
.icon-crying:before {
  content: '\ea01';
}
